#Big Data
Estructuras de control y funciones clásicas

### 1) Nuestro amigo el **IF**

In [1]:
nro_de_cliente=999

if nro_de_cliente==999:
  print('es el cliente 999!!')
else:
  print('cliente no encontrado :(')

es el cliente 999!!

In [2]:
nro_de_cliente=999

In [3]:
# if anidado
if nro_de_cliente==999:
  print('es el cliente 999!!')
elif nro_de_cliente==111:
  print('es el cliente 111!!')
else:
  print('cliente no encontrado :(')

es el cliente 999!!

Igual: x1 == x2

Distinto: x1 != x2

Menor a: x1 < x2

Menor o igual a: x1 <= x2

Mayor a: x1 > x2

Mayor o igual x1 >= x2

### 2) *Mientras* vemos el `while`

In [4]:
# imprimir 3 elementos
i=0

while(i<6):
  i=i+1
  print(i)

1
2
3
4
5
6

In [17]:
# bucle infinito
while(1):
  x1=input('¿Nombre? ')

  if x1=='me aburri':
    break

  print('Bienvenido! ' + x1)

¿Nombre? sofia
Bienvenido! sofia

KeyboardInterrupt: Interrupted by user

### 3) *Para* que usar while, si hay `for`!

In [ ]:
lista=[1,2,3,4,5,6]

In [ ]:
for i in lista:

  if i == 5:
    break

  print(i)

¿Cómo usar for sobre pandas data frame?

In [6]:
import pandas as pd

d_star_wars=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv", sep=',')
d_star_wars.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human

In [54]:
# no hacer así
for row in d_star_wars:
  print(row)

name
height
mass
hair_color
skin_color
eye_color
birth_year
gender
homeworld
species

In [53]:
# Usar iterrows()

for label, row in d_star_wars[:5].iterrows():
  print('El label es: ' + str(label))
  print(row)

El label es: 0
name          Luke Skywalker
height                 172.0
mass                      77
hair_color             blond
skin_color              fair
eye_color               blue
birth_year             19BBY
gender                  male
homeworld           Tatooine
species                Human
Name: 0, dtype: object
El label es: 1
name             C-3PO
height           167.0
mass                75
hair_color         NaN
skin_color        gold
eye_color       yellow
birth_year      112BBY
gender             NaN
homeworld     Tatooine
species          Droid
Name: 1, dtype: object
El label es: 2
name                R2-D2
height               96.0
mass                   32
hair_color            NaN
skin_color    white, blue
eye_color             red
birth_year          33BBY
gender                NaN
homeworld           Naboo
species             Droid
Name: 2, dtype: object
El label es: 3
name          Darth Vader
height              202.0
mass                  136
hair_color           none
skin_color          white
eye_color          yellow
birth_year        41.9BBY
gender               male
homeworld        Tatooine
species             Human
Name: 3, dtype: object
El label es: 4
name          Leia Organa
height              150.0
mass                   49
hair_color          brown
skin_color          light
eye_color           brown
birth_year          19BBY
gender             female
homeworld        Alderaan
species             Human
Name: 4, dtype: object

Accediendo a cada valor:

In [ ]:
for _, row in d_star_wars[:10].iterrows():
  print('Personaje: ' + row['name'] + ' lugar ' + row['homeworld'])

### 4) ¿Cómo crear funciones en Python?

In [ ]:
def mi_funcion():
  print('hola mundo')

In [ ]:
mi_funcion()

¿Cómo crear una función con parámetros?

In [74]:
def sumar(valor1, valor2):
  return valor1 + valor2

In [75]:
def restar(valor1, valor2):
  return valor1 - valor2

In [76]:
sumar(valor1 = 5, valor2= 5)

10

In [ ]:
valor1 = 5
valor2 = 5

In [ ]:
restar(valor1, valor2)

¿Cómo explorar el contenido de una función?

In [7]:
%%capture
!pip install funpymodeling

In [9]:
from funpymodeling.exploratory import status

In [ ]:
status(d_star_wars)

In [ ]:
#calcula la cantidad de valores únicos presentes en cada columna del DataFrame.
d_star_wars.nunique().values

In [ ]:
d_star_wars.columns

In [ ]:
def status2(data):
  return pd.DataFrame({'variables': data.columns, 'valores_unicos':data.nunique().values})

In [ ]:
status2(d_star_wars)

<br>

---



# C.2.1) ¿Qué es `numpy`?

In [10]:
import numpy as np

In [ ]:
arr1 = np.array([1,2,3,4,5])

In [ ]:
arr1

In [ ]:
arr1+arr1

In [ ]:
arr1.shape # ranking 1

¿Cómo crear un "tabla" en numpy?

Rank 2 array / 2D

In [ ]:
arr2=np.array([[1,2,3,4,5], [9,8,7,6,5]])

arr2

In [ ]:
arr2.shape

Rank 3 array / 3D

In [ ]:
arr3=np.array([[[1,2,3,4,5], [9,8,7,6,5]]])

In [ ]:
arr3.shape

### C.2.2) ¿Cómo hacer `reshape` en numpy?

In [52]:
arr3=np.array([1,2,3,4,5,6])
print(arr3)
print(arr3.shape)

[1 2 3 4 5 6]
(6,)

In [ ]:
arr4=arr3.reshape((2,3))

arr4

In [ ]:
arr4.shape

¿Cómo hacer flatten de un numpy array?

In [ ]:
arr5=arr4.flatten()
arr5

### C.2.3) ¿Cómo hacer slice de numpy?

In [ ]:
arr1

In [ ]:
# 1er elemento
arr1[0]

In [ ]:
arr1[0:3]

### C.2.4) ¿Cómo acceder a arrays n-dimensionales?

In [ ]:
arr4

In [ ]:
arr4[0,:]

In [ ]:
arr4[1,0]

In [ ]:
arr4[1,0:2]

In [ ]:
# acceder a toda la 1er dimensión
arr4[0]

Imagen resumen numpy

<img src="https://fgnt.github.io/python_crashkurs_doc/_images/numpy_array_t.png" width="300px">

[Fuente](https://fgnt.github.io/python_crashkurs_doc/include/numpy.html).

#Ejercicios

Ejercicio 1: Crear un if anidado para verificar si el numero de cliente está entre 0 y 4, le decimos 'usuario autorizado' en cualquier otro caso indicar 'usuario no autorizado'.

In [104]:
#Ejercicio 1
nro_de_cliente=4
if 0 <= nro_de_cliente <= 4:
  print('usuario autorizado')
else:
  print('usuario no autorizado')

usuario autorizado

Ejercicio 2: Mediante while solicitar al usuario que ingrese un número entre 1 y 5. Si el número ingresado es 3 que imprima 'Usted ha ganado la loteria'

In [106]:
#Ejercicio 2
while True:
  try:
    numero = int(input("Ingrese un número entre 1 y 5: "))
    if 1 <= numero <= 5:
      if numero == 3:
        print("Usted ha ganado la loteria")
        break
      else:
        print("Gracias por participar")
        break
    else:
      print("El número debe estar entre 1 y 5. Intente de nuevo.")
  except ValueError:
    print("Entrada inválida. Ingrese un número entero.")

Ingrese un número entre 1 y 5: -8
El número debe estar entre 1 y 5. Intente de nuevo.
Ingrese un número entre 1 y 5: 8
El número debe estar entre 1 y 5. Intente de nuevo.
Ingrese un número entre 1 y 5: 3
Usted ha ganado la loteria

Ejercicio 3: Crear una lista que contenga los valores desde 0 a 10. Luego solicitar que se ingrese un número entre 0 y 10. Imprimir en pantalla los valores de la lista hasta el número que ingresaron

In [107]:
#Ejercicio 3
lista = list(range(11))

while True:
  try:
    i = int(input("Ingrese un número entre 0 y 10: "))
    if 0 <= i <= 10:
      break
    else:
      print("El número debe estar entre 0 y 10. Intente de nuevo.")
  except ValueError:
    print("Entrada inválida. Ingrese un número entero.")


for num in lista[:i + 1]:
  print(num)

Ingrese un número entre 0 y 10: -8
El número debe estar entre 0 y 10. Intente de nuevo.
Ingrese un número entre 0 y 10: 12
El número debe estar entre 0 y 10. Intente de nuevo.
Ingrese un número entre 0 y 10: 4
0
1
2
3
4

Ejercicio 4: Solicitar que se ingresen dos valores, mediante una función sumar estos dos numero y mostrar el resutaldo en pantalla

In [108]:
#Ejercicio 4
#Función
def sumar(valor1, valor2):
  return valor1 + valor2

In [79]:
#Ejercicio 4
valor1 = int(input("Ingrese el primer valor: "))
valor2 = int(input("Ingrese el segundo valor: "))

resultado = sumar(valor1, valor2)
print("El resultado de la suma es:", resultado)

Ingrese el primer valor: 2
Ingrese el segundo valor: 3
El resultado de la suma es: 5

Ejercicio 5: Solicitar que se ingresen dos valores, luego solicitar que tipo de operación se quiere realizar (suma, resta, multiplicación o división). Luego mediante una función realizar la operación matematica e imprimir el resultado.

In [109]:
#Ejercicio 5
#Función
def operaciones(valor1, valor2, operacion):
  if operacion == "suma":
    return valor1 + valor2
  elif operacion == "resta":
    return valor1 - valor2
  elif operacion == "multiplicación":
    return valor1 * valor2
  elif operacion == "división":
    if valor2 == 0:
      return "No se puede dividir por cero."
    return valor1 / valor2
  else:
    return "Operación inválida."

In [110]:
#Ejercicio 5
valor1 = int(input("Ingrese el primer valor: "))
valor2 = int(input("Ingrese el segundo valor: "))
operacion = input("Ingrese la operación a realizar (suma, resta, multiplicación o división): ").lower()

resultado = operaciones(valor1, valor2, operacion)
print("El resultado es:", resultado)

Ingrese el primer valor: 4
Ingrese el segundo valor: 3
Ingrese la operación a realizar (suma, resta, multiplicación o división): multiplicación
El resultado es: 12