# 1. Introducción


* Breve descripción general de Pandas y su importancia.
* Discusión sobre SQL y su relación con las operaciones de Pandas DataFrame.

# 2. Setup

In [ ]:
import sqlite3 # a module in Python's standard library that provides an interface to the SQLite database.
import pandas as pd

In [ ]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_data = pd.read_csv(url)

In [ ]:
conn = sqlite3.connect(':memory:')
titanic_data.to_sql('titanic', conn, index=False)

887

**sqlite3.connect()** es una función que establece una conexión a una base de datos SQLite. Cuando se proporciona el argumento ':memory:', se le indica a SQLite que cree una nueva base de datos en la RAM. La principal ventaja de utilizar una base de datos en memoria es la velocidad.

**.to_sql()** es un método proporcionado por Pandas DataFrames que le permite escribir el contenido del DataFrame en una base de datos SQL.

El primer argumento 'titanic' es el nombre de la tabla que se creará en la base de datos SQLite.

El segundo argumento conn es el objeto de conexión que creamos anteriormente. Le indica al método .to_sql() dónde crear la tabla.

El argumento index=False le indica a Pandas que no escriba el índice del DataFrame como una columna separada en la base de datos. Si omitiera este argumento, obtendría una columna adicional llamada 'index' en su tabla SQL.

Función para ejecutar las queries

In [ ]:
# Function to run querys
def run_query(query, connection=conn):
    return pd.read_sql_query(query, connection)

# 3. SQL vs. Pandas

Para **SQL** nuestra tabla se llama *titanic*

Para **pandas** nuestro df se llama *titanic_data*

In [ ]:
#Veo mis datos
titanic_data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500



*   **Ver los nombres de 10 pasajeros**

In [ ]:
# Usando SQL

run_query(
"""
select name from titanic limit 10

"""
    )

                                                Name
0                             Mr. Owen Harris Braund
1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                              Miss. Laina Heikkinen
3        Mrs. Jacques Heath (Lily May Peel) Futrelle
4                            Mr. William Henry Allen
5                                    Mr. James Moran
6                             Mr. Timothy J McCarthy
7                      Master. Gosta Leonard Palsson
8   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9                 Mrs. Nicholas (Adele Achem) Nasser

In [ ]:
# Usando Pandas

titanic_data.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708

**¿Cuántas clases diferentes hay?**

In [ ]:
# Usando SQL

run_query(
"""
select count (distinct pclass) from titanic

"""
    )

   count (distinct pclass)
0                        3

In [ ]:
# Usando Pandas

titanic_data['Pclass'].unique()

array([3, 1, 2])

**Mostrar los pasajeros ordenados por edad**

In [ ]:
# Usando SQL

run_query(
"""
select Name, Age from titanic order by Age

"""
    )

                                    Name    Age
0         Master. Assad Alexander Thomas   0.42
1               Master. Viljo Hamalainen   0.67
2           Miss. Helene Barbara Baclini   0.75
3                  Miss. Eugenie Baclini   0.75
4           Master. Alden Gates Caldwell   0.83
..                                   ...    ...
882                  Mr. Patrick Connors  70.50
883             Mr. George B Goldschmidt  71.00
884               Mr. Ramon Artagaveytia  71.00
885                   Mr. Johan Svensson  74.00
886  Mr. Algernon Henry Wilson Barkworth  80.00

[887 rows x 2 columns]

In [ ]:
# Usando Pandas

titanic_data.sort_values(by='Age')

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
799,1,3,Master. Assad Alexander Thomas,male,0.42,0,1,8.5167
751,1,2,Master. Viljo Hamalainen,male,0.67,1,1,14.5000
641,1,3,Miss. Eugenie Baclini,female,0.75,2,1,19.2583
466,1,3,Miss. Helene Barbara Baclini,female,0.75,2,1,19.2583
77,1,2,Master. Alden Gates Caldwell,male,0.83,0,2,29.0000
...,...,...,...,...,...,...,...,...
115,0,3,Mr. Patrick Connors,male,70.50,0,0,7.7500
490,0,1,Mr. Ramon Artagaveytia,male,71.00,0,0,49.5042
95,0,1,Mr. George B Goldschmidt,male,71.00,0,0,34.6542
847,0,3,Mr. Johan Svensson,male,74.00,0,0,7.7750
627,1,1,Mr. Algernon Henry Wilson Barkworth,male,80.00,0,0,30.0000

**Mostrar los pasajeros que sobrevivieron**

In [ ]:
# Usando SQL

run_query(
"""
select * from titanic where survived = 1

"""
    )

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
1,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
2,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
3,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
4,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
...,...,...,...,...,...,...,...,...
337,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
338,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
339,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
340,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
341,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000

In [ ]:
# Usando Pandas

titanic_data[titanic_data['Survived'] == 1 ]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
...,...,...,...,...,...,...,...,...
871,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000

**Mostrar los pasajeros que no sobrevivieron y tenían menos de 30 años**

In [ ]:
# Usando SQL

run_query(
"""
select * from titanic where Survived = 0 and Age < 30

"""
    )

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,0,3,Mr. James Moran,male,27.0,0,0,8.4583
2,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
3,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
4,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
...,...,...,...,...,...,...,...,...
300,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
301,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
302,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
303,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
304,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500

In [ ]:
# Usando Pandas

titanic_data[(titanic_data['Age'] < 30) & (titanic_data['Survived'] == 0)]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
...,...,...,...,...,...,...,...,...
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500

Mostrar pasajeron que tienen entre 30 y 50 años

In [ ]:
# Usando SQL

run_query(
"""
SELECT Name from Titanic Where Age > 30 AND Age <50

"""
    )

                                                  Name
0    Mrs. John Bradley (Florence Briggs Thayer) Cum...
1          Mrs. Jacques Heath (Lily May Peel) Futrelle
2                              Mr. William Henry Allen
3                           Mr. Anders Johan Andersson
4    Mrs. Julius (Emelia Maria Vandemoortele) Vande...
..                                                 ...
275                            Mr. Frans Olof Carlsson
276                         Mr. Victor Vander Cruyssen
277                                  Mr. Johann Markun
278                Mrs. William (Margaret Norton) Rice
279                                 Mr. Patrick Dooley

[280 rows x 1 columns]

In [ ]:
# Usando Pandas

titanic_data.loc[(titanic_data['Age'] > 30) & (titanic_data['Age'] < 50), 'Name']

1      Mrs. John Bradley (Florence Briggs Thayer) Cum...
3            Mrs. Jacques Heath (Lily May Peel) Futrelle
4                                Mr. William Henry Allen
13                            Mr. Anders Johan Andersson
18     Mrs. Julius (Emelia Maria Vandemoortele) Vande...
                             ...
868                              Mr. Frans Olof Carlsson
869                           Mr. Victor Vander Cruyssen
877                                    Mr. Johann Markun
881                  Mrs. William (Margaret Norton) Rice
886                                   Mr. Patrick Dooley
Name: Name, Length: 280, dtype: object

**¿Cuántos pasajeros se llaman 'John'?**

In [ ]:
# Usando SQL

run_query(
"""
SELECT COUNT(*) Name From Titanic WHERE Name LIKE '%John%'

"""
    )

   Name
0    52

In [ ]:
# Usando Pandas

titanic_data.loc[:, 'Name'].str.contains('John').sum()

np.int64(52)